<%- include('header') -%>
    <div class="jumbotron">
        <h1 style="font-family:'Optima'; font-weight:bold">EMCare</h1>
        <p>Introducing...</p>
    </div>

    <h3>You Entered the following ...</h3>
    <br>

    <table class="table table-dark">
      <tbody>
        <tr>
          <td>Name</td>
          <td><%= name %></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><%= age %></td>
        </tr>
        <tr>
          <td>Blood Pressure</td>
          <td><%= bp %></td>
        </tr>
        <tr>
          <td>Pulse</td>
          <td><%= pulse %></td>
        </tr>
      </tbody>
    </table>

<%- include('footer') -%>
