<%- include('header') -%>
    <div class="jumbotron">
        <h1>The statsController for <%= stats._id %> </h1>
    </div>
      name: <%= stats.name %> <br>
      age: <%= stats.age %> <br>
      Blood_Pressure: <%= stats.Blood_Pressure %> <br>
      Pulse: <%= stats.Pulse %> <br>
    <hr>
<%- include('footer') -%>
